extends layout

block scripts
  script(type='text/javascript', 
    src='//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
  script(type='text/javascript', src='../javascripts/spectrum.js')
  script(type='text/javascript', src='/socket.io/socket.io.js')

append stylesheets
  link(rel='stylesheet', href='/stylesheets/spectrum.css')

block content
  div#toolbox
    menu(type='toolbar',label='tools') 
      input(type='button',name='tool',value='line')
      br
      input(type='button',name='tool',value='rect')
      br
      input(type='button',name='tool',value='pencil')
      br
      input(type='button',name='tool',value='rubber')
      br
      legend color:
      input(type='color',name='color',value='#000000')
      br
      legend line width:
      select(name='lineWidth',value='line width') 
        option(value='1') 1
        option(value='2') 2
        option(value='3',selected) 3
        option(value='4') 4
        option(value='5') 5
        option(value='6') 6
        option(value='7') 7
        option(value='8') 8
    ul
      li
        form(method='GET', action='/new')
          input(type='submit',value='new')
      li
        input(id='save',type='button',value='save')
      li
        input(id='undo',type='button',value='undo')
      li
        input(id='redo',type='button',value='redo')
      li
        input(id='clear',type='button',value='clear')
    ul
      li
        input(id='replay',type='button',value='replay')
      li
        form(method='GET', action='/gallery')
          input(type='submit',value='gallery')

  div#container
    canvas#imageBuffer(width=canvas.width, height=canvas.height)
    canvas#imageView(width=canvas.width, height=canvas.height)
      p
        | Unfortunately, your browser is currently unsupported by our web
        | application.  We are sorry for the inconvenience.
    canvas#imageTemp(width=canvas.width, height=canvas.height)
    canvas#iconLayer(width=canvas.width, height=canvas.height)
  script
    window.canvas = !{JSON.stringify(canvas)};
    window.picName = '#{picName}';
  script(type='text/javascript', src='../javascripts/tools.js')
  script(type='text/javascript', src='../javascripts/save.js')
  script(type='text/javascript', src='../javascripts/command.js')
  script(type='text/javascript', src='../javascripts/canvas_controller.js')
  script(type='text/javascript', src='../javascripts/socketClient.js')
    
